@import '../../_variables';

.pickup-container {

  .pickup-wrap {

    .pickup-header {
      text-align: center;
      padding-top: 4rem;
      background: url('https://cdn4.vectorstock.com/i/1000x1000/79/23/car-delivery-logo-vector-20897923.jpg') center;
      background-size: cover;

      h1 {
        font-size: 50px;
        font-weight: 800;
        letter-spacing: 1px;
        background: #efe8e8b5;
        @media only screen 
        and (min-width: 1024px) 
        and (max-height: 1366px) 
        and (-webkit-min-device-pixel-ratio: 1.5){
          font-size: 4rem;
        }
      }
      p {
        font-style: italic;
        color: gray;
        @media only screen 
        and (min-width: 1024px) 
        and (max-height: 1366px) 
        and (-webkit-min-device-pixel-ratio: 1.5){
          font-size: 1.25rem;
        }
      }
    }

    .pickup-div {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;

      .map {
        // text-align: center;
        // width: 60%;
        width: 300px;
        border-radius: 25px;

        a {
          width: 45%;
          border-radius: 15px;

          img {
            width: 45%;
          }
        }

        iframe {
          width: 45%;
        }
      }
    }
  }
}