@import '../../_variables';
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

.MainContainer {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to right, rgba(248, 242, 242, 0.863), rgba(0,0,0,0.1)), url('../../images/CFP-cover.jpg') ;
  height: 100vh;
  background-position: center;
  background-size: cover;

  .MainContent {
    height: calc(100vh - 80px);
    max-height: 100%;
    /* width: 100vw; */
    padding: 0rem calc((100vw - 1300px) /2);

    .MainItems {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
      height: 100vh;
      max-height: 100%;
      padding: 0 15px;
      width: 100%;
      color: #fff;
      line-height: 1;
      font-weight: bold;


      .MainImg {
        height: 300px;
        width: 300px;
        border-radius: 50%;
        @media (min-width: $tablet){
          height: 500px;
          width: 500px;
        }
        @media (min-width: $laptop){
          height: 750px;
          width: 750px;
        }
      }

      .MainP {
        font-size: 2rem;
        margin: 1rem;
        padding: .5rem;
        color: $pink;
        background: #ffffffd1;
        font-weight: 700;
        font-family: 'Fugaz One', cursive;
        border-radius: 10px;
        @media(min-width: $tablet){
          font-size: 3rem;
          padding: 1rem;
        }
        @media (min-width: $laptop) {
          font-size: 6rem;
        }
      }

      .nav-link {
        padding: 0;
        width: 90%;
        margin: 0 1rem;

        .MainBtn {
          font-size: 1.4rem;
          font-weight: 700;
          padding: 1rem 2rem; 
          width: 100%;
          border: none;
          background: $pink;
          color: black;
          transition: .2s ease-out;
          border-radius: 10px;
          width: 320px;
          @media (min-width: $tablet){
            font-size: 3rem;
            font-weight: 700;
            width: 500px;
          }
          @media (min-width: $laptop) {
            font-size: 6rem;
            width: 900px;
          }
        
          &:hover {
            background: #ec5656;
            transition: .2s ease-out;
            cursor: pointer; 
            color: #000;
          }
        }
      }
    }
  }
}


