@import '../../_variables';
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

.MainContainer {
  background: linear-gradient(to right, rgba(248, 242, 242, 0.863), rgba(0,0,0,0.1)), url('../../images/CFP-cover.jpg') ;
  height: 100vh;
  background-position: center;
  background-size: cover;

  .MainContent {
    height: calc(100vh - 80px);
    max-height: 100%;
    /* width: 100vw; */
    padding: 0rem calc((100vw - 1300px) /2);

    .MainItems {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      height: 100vh;
      max-height: 100%;
      padding: 0 7rem;
      width: 100%;
      color: #fff;
      line-height: 1;
      font-weight: bold;
      @media screen and (max-width: 650px) {
        width: 100%;
      }

      .MainImg {
        height: 300px;
        width: 300px;
        border-radius: 50%;
        // margin-bottom: 1rem;
        margin: 0 3.5rem 1rem;
        /* box-shadow: 3px 5px white; */
        /* letter-spacing: 3px; */
        /* background: url('../../images/CFP-cover.jpg') */
      }

      .MainP {
        font-size: clamp(3rem, 2.5vw, 4rem);
        margin-bottom: 2rem;
        color: black;
        font-family: 'Dancing Script', cursive; 
        font-weight: 700;
      }

      .nav-link {
        padding: .5rem 6rem;

        .MainBtn {
          font-size: 1.4rem;
          padding: 1rem 2rem; 
          border: none;
          background: $pink;
          color: black;
          transition: .2s ease-out;
          border-radius: 10px;
        
          &:hover {
            background: #ec5656;
            transition: .2s ease-out;
            cursor: pointer; 
            color: #000;
          }
        }
      }
    }
  }
}


