@import '../../_variables';

.about-container {
  color: #1e212d;
  background: $lightPink;
  margin: 0;
  padding: 0 0 2rem;
  @media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    height: auto;
  }
  
  .about-header {
    width: 100%;
    padding: 45px 0 15px;
    text-align: center;

    h1 {
      font-size: 2.5rem;
      font-weight: 800;
      @media only screen 
      and (min-width: 1024px) 
      and (max-height: 1366px) 
      and (-webkit-min-device-pixel-ratio: 1.5){
        font-size: 4rem;
      }
    }

    p {
      font-style: italic;
      color: gray;
    
      @media only screen 
      and (min-width: 1024px) 
      and (max-height: 1366px) 
      and (-webkit-min-device-pixel-ratio: 1.5){
        font-size: 1.25rem;
      }
    }

    .social-wrap {

      .social-link {

      }
    }
  }

  .about-wrap {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 24px;
    flex-wrap: wrap;

    .about-text {
      font-size: 20px;
      text-align: left;
      padding: 0 25px;
      /* white-space: nowrap; */
      width: 60%;
    
      @media screen and (max-width: 770px) {
        width: 100%;
        font-size: 18px;
        padding: 15px 0px;
      }
    }

    .img-wrap {
      padding: 0 12px;
      width: 100%;
      text-align: center;

      img {
        height: 200px;
        width: 200px;
        border-radius: 20px;
      }
    }
  }
}