@import '../../_variables';

.nav-top-bar {
  height: 50px;
  background: $pink;
  position: fixed;
}

.nav {
  font-family: 'Quicksand', sans-serif;
  background: white;
  height: 90px;
  margin-top: -80px; 
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 0 75px rgba(0,0,0,0.25);

  .nav-wrap {
    display: flex;
    justify-content: space-around;
    height: 65px;
    z-index: 1;
    width: 100%;
    padding: 0 24px;
    max-width: 1100px;
    align-items: baseline;

    .nav-mobile {
      display: none;
      @media screen and (max-width: $tablet) {
        display: block; 
        position: absolute;
        top: 0; 
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
        color: black;
      }
    }

    .nav-menu {
      display: flex;
      align-items: center;
      text-align: center;
      margin: 0 5rem;
      /* margin-right: -22px; */
      @media screen and (max-width: $tablet) {
        display: none
      }

      .nav-item {
        height: 80px;

        .nav-link {
          padding: 1rem 1rem;
          cursor: pointer;
          color: black;
          font-weight: 300;
          line-height: 1rem;
          letter-spacing: 3px;

          &:hover {
            color: $gold;
          }
        }
      }
    }

    .nav-order {
      padding-right: 25px;
      display: flex;
      height: 100%;
      align-items: center;

      a {

        button {
          background: $pink;
          border: none;
          padding: 12px;
          border-radius: 10px;
          &:hover {
            background: #ec5656;
            transition: 1s;
          }
        }
      }
    }
  }
}
