@import '../../_variables';

.close-div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 14px 0 0;

  svg {
    font-size: 3rem;
    padding-right: 25px;
    cursor: pointer;
  }
}

.sidebar-wrap {
  width: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .75s ease-in-out;

}