@import '../../_variables';

.sidebar-top-div {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 14px 0 0;
  margin-bottom: 25px;

  svg {
    font-size: 3rem;
    padding-right: 25px;
    cursor: pointer;
    position: absolute;
    left: 5%;
  }

  img {
    width: 180px;
    height: 180px;
    cursor: pointer;
  }
}

.sidebar-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .75s ease-in-out;
  font-family: 'Quicksand', sans-serif;

  .sidebar-logo {
    
  }

  .sidebar-links {
    width: 100%;
    text-align: center;

    div {
      width: 100%;
      background: $pink;

      &:hover {
        background: rgb(209, 94, 94);
        transition: .5s;
      }

      .order-a {
        width: 100%;    
        text-decoration: none;
        color: white;
        font-size: 2.25rem;
        font-weight: 700;
      }
    }
    
    .nav-link {
      font-size: 2.25rem;
      color: #ffb5b7;
      font-weight: 700;
      border: 1px solid;
    }
  }

  .sidebar-social {


    a {
      font-size: 2rem;
      color: black;
      padding: 0 8px;

      &:hover {
        color: #fdabae;
      }
    }
  }
}