@import '../../_variables';

.sidebar-top-div {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 14px 0 0;
  margin-bottom: 25px;

  svg {
    font-size: 3rem;
    padding-right: 25px;
    cursor: pointer;
    position: absolute;
    left: 5%;
  }

  img {
    width: 200px;
    height: 200px;
    cursor: pointer;
  }
}

.sidebar-wrap {
  width: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .75s ease-in-out;
  font-family: 'Quicksand', sans-serif;

  .sidebar-logo {

  }

  .sidebar-links {
    width: 100%;
    text-align: center;
    
    .nav-link {
      font-size: 2.5rem;
      color: #ffb5b7;
      font-weight: 700;
      border: 1px solid;
    }
  }

  .sidebar-social {


    a {
      font-size: 2rem;
      color: black;
      padding: 0 8px;

      &:hover {
        color: #fdabae;
      }
    }
  }
}