$dark: #121119;
$gray: #C0BEBE;
$lightBlue: #A8DADC;
$blue: #457B9D;
$darkBlue: #1D3557;

$monitor: 2250px;
$monitorMd: 1800px;
$monitorSm: 1650px;
$laptop: 1450px;
$laptopMd: 1200px;
$laptopSm: 1080px;
$tablet: 800px;
$phoneBg: 700px;
$phone: 550px;
$phoneSm: 380px;

