$dark: #121119;
$gray: #C0BEBE;
$pink: #e7b5b5;
$gold: #cac295;
$blue: #659fc3;
$darkBlue: #2e4564;

$monitor: 2250px;
$monitorMd: 1800px;
$monitorSm: 1650px;
$laptop: 1450px;
$laptopMd: 1200px;
$laptopSm: 1080px;
$tablet: 800px;
$phoneBg: 700px;
$phone: 550px;
$phoneSm: 380px;

